@{
    ViewBag.Title = "EsportaFotoCommessa";
}

<h2>EsportaFotoCommessa</h2>

<br />

@*@{string NomeFile = @"../ZIPCreated/" + ViewBag.NomeFile; }*@

@{string NomeFile = @"../ZIPCreated/" + ViewBag.NomeFile; }


<a href=@NomeFile download>
    <img src="~/img/folder.png" alt="W3Schools"> Scarica file ZIP !
</a>

<br />
<br />
<br />


