@{
    ViewBag.Title = "Autocargo - Rilevamento danni";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<address>
    Via S.S. Giacomo e Filippo 9-3
    <br />16122 - Genova<br />
    <abbr title="Ore ufficio">Tel  + 39 010 9861099</abbr>

</address>

<address>
    @*<strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
        <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>*@
</address>