@model WEB_Auto.Models.HomeModel
@{
    ViewBag.Title = "Home Page";
}

<br />
<h4>Utente autenticato</h4>
<br />
<div>
    @{var item1 = Model.AGR_Periti_WEB.ToList();}
    @{var item2 = Model.Periti.ToList();}

    Benvenuto <b>@item1[0].Name </b>
    <br />
    Sei associato al perito : @item2[0].Descr
    <br />

</div>
<br />
<br /><br />
<div>
    @using (Html.BeginForm("Index", "Home", FormMethod.Post))
    {
        //@Html.AntiForgeryToken()
        @Html.DropDownList("ID", (SelectList)ViewData["ElencoSpedizioni"], new { @class = "form-control" })
        <br />

        <div>
            <button type="submit" class="btn btn-primary">Vai a gestione dati</button>
        </div>
    }
</div>
<br />
