
@{
    ViewBag.Title = "Modifica non consentita";
}
<br /><br />
      <h3>Modifica non consentita</h3>
<br />

<h4> @Html.Raw(ViewBag.Message)</h4>
<br /><br />
@Html.ActionLink("Torna a modifica viaggio", "ModificaViaggio", "ModificaViaggio", new { aViaggio = ViewBag.aViaggio,TipoMezzo = ViewBag.TipoMezzo }, new { @class = "btn btn-success" })

