
@{
    ViewBag.Title = "Cerca Telaio";
}

<h4>Cerca dati pregressi </h4>

<div style="text-align:left">
    <h5>Telaio da analizzare </h5>
    @*@using (Html.BeginForm("CercaTelaioSingolo", "Storico"))*@
    @using (Html.BeginForm("CercaStoriaTelaio", "Storico"))
    {
        <table>
            <tr>
                <td>


                    @Html.TextBox("aTelaio", null, new { style = "width:180px;text-transform:uppercase", @id = "Telaio", @maxlength = "17", @placeholder = "CLICK TO SCAN:", @autofocus = "autofocus", @autocomplete = "off" })
                    @Html.ValidationMessage("Telaio")

                </td>
            </tr>

            <tr>

                <td>
                    <br />
                    <button type="submit" id="btnConfirm" class="btn btn-success">Cerca</button>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    @*<button onclick="document.getElementById('Telaio').value = ''" class="btn btn-primary">Chiudi</button>*@
                    @Html.ActionLink("Chiudi", "Index", "Home", new { usr = Session["User"].ToString() }, new { @class = "btn btn-primary" })


                </td>
            </tr>
        </table>
    }

</div>

<script>
    $(function () {
        var txt = $("input#Telaio");
        var func = function (e) {
            if (e.keyCode === 32) {
                txt.val(txt.val().replace(/\s/g, ''));
            }
        }
        txt.keyup(func).blur(func);
    });
</script>

